@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffff;
  font-family: 'TheJamsil5Bold';
}

.header {
  margin: 60px 0;
  text-align: center;
  font-size: 24px;
}

.mainWrapper {
  text-align: center;
  text-shadow: 10px;
  font-size: 36px;
  margin-bottom: 200px;
}

p {
  letter-spacing: 0.1em;
}

br {
  margin-top: 2em;
}

img {
  display: block;
  margin: auto;
  width: 60%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .header {
    font-size: 12px;
  }
  .mainWrapper {
    font-size: 19px;
  }
}
