.wrapper {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background: url(./부고배경2.jpg) no-repeat center center / cover;
}

.header {
  text-align: center;
}

.mainWrapper {
  text-align: center;
  font-size: 36px;
}

@media (max-width: 700px) {
  .wrapper {
    height: 90vh;
  }
  .header {
    font-size: 12px;
  }
  .mainWrapper {
    font-size: 19px;
  }
}
